@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100|Exo+2:400,300,100italic);html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* Solarized Palette - http://ethanschoonover.com/solarized ---------
  lightgray      : #819090;
  gray           : #708284;
  mediumgray     : #536870;
  darkgray       : #475B62;
  darkblue       : #0A2933;
  darkerblue     : #042029;
  paleryellow    : #FCF4DC;
  paleyellow     : #EAE3CB;
  yellow         : #A57706;
  orange         : #BD3613;
  red            : #D11C24;
  pink           : #C61C6F;
  purple         : #595AB7;
  blue           : #2176C7;
  cyan           : #259286;
  green          : #738A05; */

  body
  {
  	font-family: "Exo 2", "Helvetica Neue", Helvetica, sans-serif;
  	font-weight: 300;
  	font-size: 1.2em;
  	line-height: 1.2em;
  	background: #FDF6E3;
  	color: #475B62;
  }

  h1, h2, h3, h4, h5, h6
  {
  	font-family: 'Roboto Slab', "Helvetica Neue", Helvetica, sans-serif;
  	font-weight: 700;
  	color: #CB4B19;
  	font-size: 1.5em;
  	margin: .4em;
   letter-spacing: 6px;
  }




img
{
   float:left;
   margin: 0 24px;
}
header
{
   border-bottom: 1px solid #475B62;
   
}