/* 
    Created on : 19-Jan-2015, 22:42:45
    Author     : Stephen
*/
#chart
{   
   background-color: #F5F2EB;
   border: 1px solid #CCC; 
   /* margin: 10px .6%; */
   
}
.bar 
{
   fill: purple;
   shape-rendering: crispEdges;
}
.bar-label
{
   fill: #000;   
   text-anchor:middle;
   font-size: 18px;
}
.axis path, .axis line
{
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
}
.gridline path, .gridline line
{
  fill: none;
  stroke: #CCC;
  shape-rendering: crispEdges;
}
.trendline
{
  fill: none;
  stroke: #CCC;
  stroke-width: 4px;
  stroke-dasharray: 10;
}
.area
{
  opacity: 0.25;
  fill: red;
  stroke: red;
  stroke-width: 1px;

}
.donut
{
  opacity: 0.1;
}

.axis-label
{
  text-anchor: middle;
}

.chart-header
{
  text-transform: capitalize;
  font-size: 125%;
}
