#barchart, #piechart{
   float:left;
   padding:20px;
   clear:right; 
   margin-left:20px;  
}

footer{
   margin-top:32%;
   clear:both;
   background:white;
   text-align: center;
}

#piechart
{
   background-color: white;
/*   width: 33.3%;*/
}

#barchart
{
   background-color: white;
}